apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
data:
  DATABASE_URL: {{ .Values.env.DATABASE_URL | quote }}
  RABBITMQ_URL: {{ .Values.env.RABBITMQ_URL | quote }}
  REDIS_HOST: {{ .Values.env.REDIS_HOST | quote }}
  REDIS_PORT: {{ .Values.env.REDIS_PORT | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
type: Opaque
data:
  GROQ_API_KEY: {{ .Values.secrets.GROQ_API_KEY | b64enc | quote }}